@import "variables";

.table-custom{
  width: $tableCustomWidth;
  border-collapse: $tableCustomCollapse;
  border-spacing: $tableCustomBorderSpacing;
  thead{
    background-color: $tableCustomTheadBg;
    color: $tableCustomTheadColor;
    tr{
      letter-spacing: $tableCustomTheadTrSpacing;
    }
  }
  tbody{
    tr{
      color: $tableCustomTbodyColor;
      background-color: $tableCustomTbodyBg;
    }
  }
  &.alternating-row{
    tbody{
      tr:nth-child(odd){
        color: $tableCustomTbodyColorAlternative;
        background-color: $tableCustomTbodyBgAlternative;
      }
    }
  }
}
